
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
      body{
        background: url('https://cdn.discordapp.com/attachments/781591422586585099/918897144964988998/-4.jpg') no-repeat 0 50%;
        background-position: 450px 450px;
        background-size: 700px;
      }
    </style>    
<section class="page_404">
<div class="container">
  <div class="row"> 
  <div class="col-sm-12 ">
  <div class="col-sm-10 col-sm-offset-1  text-center">
  <div class="four_zero_four_bg">
    <h1 class="text-center "></h1>
    <br>
    <br>
    <br>
  
  
  </div>
  
  <div class="contant_box_404">
  <img src="https://psv4.userapi.com/c237031/u615379373/docs/d16/539fd4ff081f/Dizayn_bez_nazvania.gif?extra=A_tXSZxZMvFaXtvOhEOI93OKg_TEAxYhvyuh6UzPoAEgbgejMqzORtIMYM48E9OIS_PZG18KntWRnnVSSzhOAF6Dj6MnRc-xmGIwPLRguqAeXRgkenXjso8YzNA60Ze9fc-WWN4I9f9KSB2cPW5EX9oH" alt="" width="500">
  <h3 class="h2">
  Things are a little unstable here. I suggest come back later...
  </h3>
  

  
  <a href="/index" class="link_404">Go to Home</a>
</div>
  </div>
  </div>
  </div>
</div>
</section>