<html>

<head>




    <title>Welcome to Microblog</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css')}}">
</head>
<h2>Links</h2>
<body class='links-body'>
    <a href="/index" class="links-a">| Home Page |</a>
    <a href="/date" class="links-a"> Date info |</a> {% if current_user.is_anonymous %}
    <a href="/login" class="links-a"> Login |</a>
    <a href="/register" class="links-a">Sign up |</a> {% else %}
    <a href="/logout" class="links-a"> Logout |</a>
    <a href="/add_post" class="links-a"> Add post |</a>
    <a href="{{url_for('user', username=current_user.username)}}" class="links-a"> My profile |</a> {%if request.path == '/user/'+ current_user.username%} 
    <a href="/edit_profile" class="links-a"> Edit profile |</a> {% endif %} {% endif %}
    <a href="/miscellaneous_information" class="links-a">Miscellaneous information|</a>
    <hr>
</body>






</html>