<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<title>Miscellaneous information</title>
    {% include 'links.html' %}
	<link rel="stylesheet" href="main.css">
</head>
<body class="body-diogram">
	<div class="section">
		<div class="skills">Dollar exchange rate</div>

		<div class="diagram">
			<div class="skillBLock">
				<div class="column">
					<span>85%</span>
				</div>
				<span class="name">Today</span>
			</div>
			<div class="skillBLock">
				<div class="column">
					<span>90%</span>
				</div>
				<span class="name">yesterday</span>
			</div>
			<div class="skillBLock">
				<div class="column">
					<span>70%</span>
				</div>
				<span class="name">day before yesterday</span>
			</div>
			<div class="skillBLock">
				<div class="column">
					<span>75%</span>
				</div>
				<span class="name">pose the day before yesterday</span>
			</div>
		</div>
	</div>
<span></span>
</body>
</html>