<!DOCTYPE html>
<html lang="en">

<head>
    <style>
        body{
          background: url('https://cdn.discordapp.com/attachments/817378576840130600/934522511507480586/1.jpg');
          background-position: -0% -65%;
          background-size: 1500px;
          
        }
      </style>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
{% include 'links.html' %}

<body>
    <p class="fig"><img src="https://cdn.discordapp.com/attachments/781591422586585099/919653615856140338/1222.jpg" width="100px" height="100px"></p>
    <h1 style="text-align:center">Sign up</h1>
    <form style="text-align:center" action="" method="post">
        <input name='username' placeholder='username' type="text" required>
        <input name='password' placeholder='password' type="password" required>
        <input name='email' placeholder='email' type="email" required>
        <br>
        <button class="floating-button">Sign up!</button>
    </form>
</body>

</html>