<!DOCTYPE html>
<html lang="en">
<head>
  <style>
    body{
      background: url('https://cdn.discordapp.com/attachments/781591422586585099/936553529802375209/1.jpg');
      background-size: 680px;
      background-position: 50% 50%;
    }
  </style>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Profile</title>
</head>
<body>
  {% include 'links.html' %}
  <img  src="{{user.get_avatar(128)}}" alt="Аватарка">
  <br>
  <h1>{{user.username}}</h1>
  <p>About me: 
  {%if user.about_me%}
  {{user.about_me}}
  {%else%}
  not info :( 
  {%endif%}
  </p>
  <p>Last seen: UTC {{user.last_seen}} </p>
  <hr>
  {%if posts.items %}
  {%for post in posts.items%}
    <p class="post"><img src="{{user.get_avatar(52)}}" alt="Аватарка"> {{user.username}} says:{{post.text}}
    {% if current_user == user %}
    <br><a href="/delete_post/{{post.id}}"><b style="font-size: 30px;">&#128465;</b></a>
    {% endif %}</p>
    <br>
  {%endfor%}
  {% if posts.has_prev %} <a href= "{{url_for('user', username=user.username, page=posts.prev_num)}}">&#8592;</a>{% endif %}
  {% if posts.has_next %} <a href= "{{url_for('user', username=user.username, page=posts.next_num)}}">&#8594;</a>{% endif %}
  {% else %}
    <h2>Posts ended, please wait for users to post</h2>
  {% endif %}

  



  
  
</body>
</html>